<div class="flex flex-col content bg-white min-h-screen h-screen max-h-screen">
	<nav class="px-2 py-4  mb-6 flex justify-between">
		<nav>
			<ul>
				@for (item of navigationLinks; track item.label) {
					<li class="inline-block mr-4">
						<fa-icon [icon]="item.icon" />
						<a
									(click)="navigateTo(item.link)"
									class="hover:underline"
						>{{ item.label | translate }}</a
						>
					</li>
				}
			</ul>
		</nav>
		<app-language-selector />
	</nav>
	<div class="flex flex-1 overflow-hidden">
		<ng-content />
	</div>
</div>