<div class="flex flex-col content min-h-screen px-4 md:px-6 lg:px-12">
	<!-- Skip to main content link for keyboard users -->
	<a class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 focus:z-[9999] focus:px-4 focus:py-2 focus:bg-brand-primary focus:text-white focus:rounded-md focus:outline-none focus:ring-2 focus:ring-brand-primary focus:ring-offset-2 focus:ring-offset-bg-primary"
		 href="#main-content">
		{{ 'accessibility.skipToContent' | translate }}
	</a>
	<app-navigation />
	<div class="flex flex-1 overflow-hidden" id="main-content">
		<ng-content />
	</div>
	<app-footer />
</div>
@if (isUnderConstruction()) {
	<app-under-construction-hint />
}
