version: "3"
services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BASE_HREF: "/"
    image: portfolio-v2:latest
    container_name: portfolio-v2
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "wget -q --spider http://localhost/ || exit 1" ]
      interval: 30s
      timeout: 5s
      retries: 3
    networks:
      - webproxy

networks:
  webproxy:
    external: true
