<div class="relative">
	<button (click)="toggleLanguageSelectionMenu()"
					class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
		<fa-icon [icon]="languageIcon" />
	</button>
	<div [class.hidden]="!isLanguageSelectionOpen()" class="absolute right-0 top-11">
		@for (lang of languages; track lang) {
			<a
						(click)="selectLanguage(lang)"
						[attr.hreflang]="'language-selector.options.' + lang | translate"
						[attr.lang]="'language-selector.options.' + lang | translate"
						[class.active]="lang === currentLanguage()"
						class="block px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white"
			>{{ "language-selector.options." + lang | translate }}</a
			>
		}
	</div>
</div>