<div class="relative inline-block text-left">
	<button (click)="toggleLanguageSelectionMenu()"
					(keydown)="onToggleButtonKeydown($event)"
					id="toggle-btn"
					type="button">
		<fa-icon [icon]="languageIcon" />
		<span>{{ currentLanguage() | uppercase }}</span>
	</button>

	@if (isLanguageSelectionOpen()) {
		<div class="absolute z-10 right-0 bg-bg-secondary" role="menu">
			@for (lang of languages; track lang) {
				<a (click)="selectLanguage(lang)"
					 (keydown)="onMenuItemKeydown($event, lang)"
					 class="p-4 w-full inline-block hover:bg-bg-tertiary"
					 id="lang-option-{{ lang }}"
					 role="menuitem">
					{{ ('languageSelector.options.' + lang) | translate }}
				</a>
			}
		</div>
	}
</div>