<section class="relative  flex max-w-md overflow-x-hidden w-full space-x-4 py-4">
	@for (project of slides(); track project.id) {
		<figure
					[style]="{transform: 'translateX(-' + currentIndex() * 100 + '%)'}"
					class="flex-none transition-transform block m-0 w-full bg-slate-900 rounded-lg overflow-hidden shadow-md border border-slate-800">
			<div class="relative w-full h-48 bg-slate-800">
				<img [alt]="project.name"
						 [ngSrc]="project.imgSrc"
						 class="absolute inset-0 w-full h-full object-cover object-left"
						 height="300"
						 loading="lazy"
						 width="448" />
			</div>
			<figcaption class="p-3">
				<p class="text-sm font-medium text-slate-100 truncate">{{ project.name }}</p>
				<p class="mt-1 text-xs text-slate-300 truncate">{{ project.description }}</p>
			</figcaption>
		</figure>
	}
	@if (showProgressBar()) {
		<app-slider-progressbar />
	} @else {
		<ng-content select="app-slider-progressbar" />
	}
</section>
@if (showControls()) {
	<app-slider-controls [(currentIndex)]="currentIndex" [slides]="slides()" />
} @else {
	<ng-content select="app-slider-controls" />
}