<footer class=" border-t-[1px] border-t-white/15">
	<div class="flex justify-between items-center py-6">
		<a class="flex items-center" href="/">
			<app-image [imgAlt]="'MK Logo'" [imgSrc]="'/assets/images/mk_logo.png'" class="h-12 w-auto" />
		</a>
		<nav>
			<ul class="flex gap-2  border-[1px] border-bg-secondary p-2 rounded-md">
				@for (social of socialLinks; track $index) {
					<li class="bg-gradient-to-t from-bg-primary to-bg-tertiary flex items-center justify-center w-10 h-10 rounded-sm">
						<a [href]="social.link"
							 [title]="social.label"
							 class="text-brand-primary w-full flex-1 h-full flex items-center justify-center"
							 rel="noopener noreferrer"
							 target="_blank">
							<fa-icon [icon]="social.icon" class="text-lg"></fa-icon>
						</a>
					</li>
				}
			</ul>
		</nav>

	</div>
</footer>