@import "tailwindcss";

:root {
    color-scheme: dark light;
}

.dark {
    color-scheme: dark;
}

body {
    @apply flex flex-col h-full bg-white dark:bg-slate-900 dark:text-slate-100;
}

body > * {
    @apply grow;
}

.content {
    @apply flex flex-col;
}

button, a {
    @apply cursor-pointer
}

.active {
    @apply bg-gradient-to-r from-slate-900 via-purple-700 to-indigo-600
}
