@import "tailwindcss";

:root {
    color-scheme: dark;
}

body {
    @apply flex flex-col h-full bg-slate-900 text-slate-100;
}

body > * {
    @apply grow;
}

.content {
    @apply flex flex-col w-full;
}

button, a {
    @apply cursor-pointer;
}

.active {
    @apply bg-gradient-to-r from-slate-900 via-purple-700 to-indigo-600;
}

.project-tag {
    @apply text-xs bg-slate-800 text-slate-200 rounded-full px-2 py-1 mr-2;
}