@import "tailwindcss";

body {
    @apply flex flex-col h-full;
}

body > * {
    @apply grow;
}

.content {
    @apply flex flex-col;
}

button, a {
    @apply cursor-pointer
}

.active {
    @apply bg-sky-950
}
