<nav class="flex justify-between items-center py-4">
	<a [href]="'/'">
		<app-icon [imgAlt]="'MK Logo'" [imgSrc]="'/assets/images/mk_logo.png'" />
	</a>
	<ul class="flex items-center gap-6">
		@for (item of navigationLinks(); track item.label) {
			<li>
				<a (click)="navigateTo(item.link)">
					@if (item.icon) {
						<fa-icon [icon]="item.icon"></fa-icon>
					}
					<span>{{ item.label | translate }}</span>
				</a>
			</li>
		}
	</ul>
	<app-language-selector></app-language-selector>
</nav>
