<nav [class]="mobileTopBarMerged()">
	<a [class]="logoAnchorMerged()" [href]="'/'">
		<app-icon [imgAlt]="'MK Logo'" [imgSrc]="'/assets/images/mk_logo.png'" />
	</a>
	<button
				(click)="toggleMenu()"
				[attr.aria-expanded]="ariaExpanded()"
				[class]="mobileToggleButtonMerged()"
				aria-controls="mobile-menu"
				aria-label="Toggle navigation menu">
		@if (menuOpen()) {
			<fa-icon [icon]="faXmark" class="text-lg"></fa-icon>
		} @else {
			<fa-icon [icon]="faBars" class="text-lg"></fa-icon>
		}
	</button>
</nav>

@if (menuOpen()) {
	<div [class]="mobileMenuPanelMerged()" id="mobile-menu">
		<ul class="flex flex-col gap-3">
			@for (item of navigationLinks(); track item.label) {
				<li>
					<a (click)="navigateTo(item.link)"
						 [attr.aria-current]="currentRoute() === item.link ? 'page' : null"
						 [class]="currentRoute() === item.link ? cn(navLinkBaseMerged(), navLinkActiveMerged()) : navLinkBaseMerged()">
						@if (item.icon) {
							<fa-icon [icon]="item.icon"></fa-icon>
						}
						<span>{{ item.label | translate }}</span>
					</a>
				</li>
			}
		</ul>
		<div [class]="languageSelectorWrapperMobileMerged()">
			<app-language-selector></app-language-selector>
		</div>
	</div>
}
